{% extends "base.html" %}

{% block content %}
<style>
    /* Inline style if you prefer */
    .sticky-header th {
        position: sticky;
        top: 0;
        background-color: #000;
        color: #fff;
    }

    .scrollable-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 1700px;
        height: 400px;
    }

    .vertical-align-middle {
        vertical-align: middle;
    }

    .tb {
        position: sticky;
        top: 0;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<h1 class="text-center fw-bold my-5">주간 업무 미팅 자료</h1>


<div class="text-center">
    <div class='my-3 mx-4 row justify-content-center'>
        <div class='col-5 col-md-5 col-lg-4 p-0 d-grid me-3'>
            <select id="team-select" class='form-select form-select-lg'>
                <option value="">팀선택</option>
                {% for team in teams %}
                {% if team.dept_name not in xgroup %}
                <option value="{{ team.dept_code }}" {% if team.dept_code == user_dept_code %} selected {% endif %}>{{ team.dept_name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    
        <div class='col-5 col-md-5 col-lg-4 p-0 d-grid ms-3'>
            <!-- 전체 멤버를 위한 드롭다운 -->
            <select id="members-all" class="member-select form-select form-select-lg all">
                <option value="">멤버선택</option>
                {% for member in members %}
                <option value="{{ member.username }}">{{ member.username }}</option>
                {% endfor %}
            </select>
    
            <!-- 각 팀별 멤버를 위한 드롭다운 -->
            {% for team in teams %}
            <select id="members-{{ team.dept_code }}" class="member-select form-select form-select-lg all" style="display:none;">
                <option value="">멤버선택</option>
                {% for member in members %}
                {% if member.dept_code == team.dept_code %}
                <option value="{{ member.username }}">{{ member.username }}</option>
                {% endif %}
                {% endfor %}
            </select>
            {% endfor %}
        </div>
    </div>
    <div class='my-3 mx-4 row justify-content-center'>
        <div class='col-4 col-lg-3 p-0'>
            <!-- 날짜 선택 -->
            <input type="date" id="date-select" class="form-control" placeholder="날짜 선택">
        </div>
        <div class='col-3 col-lg-2 p-0 d-grid gap-2 mx-3'>
            <button class="btn btn-primary fw-bold" id='select_date_search'>기준선택</button>
        </div>
        <div class="col-3 col-lg-3 p-0 d-grid gap-2">
            <button class="btn btn-success fw-bold" id='export_excel'>엑셀파일</button>
        </div>
    </div>


    <div id="week-ranges" class='my-3 mx-4 row justify-content-center text-center my-3 "' style="display: none;">
        <div class='col-5 col-md-5 col-lg-4 p-0 d-grid me-3 fw-bold'>
            <span id="previous-week"></span>
        </div>
    
        <div class='col-5 col-md-5 col-lg-4 p-0 d-grid ms-3 fw-bold'>
            <span id="last-week"></span>
        </div>
    </div>

</div>

<br>
<div class="row justify-content-center mx-3 my-4">

    <table class="table table-hover table-bordered scrollable-table text-center tb " id='team-members-table'>

        <thead class='table-dark tb'>
            <tr>
                <th colspan="1" scope="col">매체</th>
                <th colspan="3" scope="col">네이버 </th>
                <th colspan="3" scope="col">네이버지에프에이 </th>
                <th colspan="3" scope="col">지마켓 </th>
                <th colspan="3" scope="col">11번가 </th>
                <th colspan="3" scope="col">위메프 </th>
                <th colspan="2" scope="col">맵핑수(누적) </th>
                <th colspan="3" scope="col">전매체 Live 계정수 </th>

            </tr>
            <tr>
                <th scope="col">팀원</th>
                <th scope="col">전전주매출</th>
                <th scope="col">전주매출 </th>
                <th scope="col">성장률 </th>
                <th scope="col">전전주매출</th>
                <th scope="col">전주매출 </th>
                <th scope="col">성장률 </th>
                <th scope="col">전전주매출</th>
                <th scope="col">전주매출 </th>
                <th scope="col">성장률 </th>
                <th scope="col">전전주매출</th>
                <th scope="col">전주매출 </th>
                <th scope="col">성장률 </th>
                <th scope="col">전전주매출</th>
                <th scope="col">전주매출 </th>
                <th scope="col">성장률 </th>

                <th scope="col">신규 </th>
                <th scope="col">이관 </th>
                <th scope="col">전전주 </th>
                <th scope="col">전주 </th>
                <th scope="col">증감 </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">

        </tbody>
    </table>
</div>
<br>

<div class="row justify-content-center mx-3 text-center">

    <table class="table table-hover table-bordered scrollable-table tb" id='team-members-table3'>
        <thead class='table-dark tb'>
            <tr>
                <th rowspan="2" scope="col" class="vertical-align-middle">팀원</th>
                <th scope="col">업무 </th>
                <th scope="col" >평균콜수 </th>
                <th scope="col" >평균콜시간 </th>
                <th scope="col" >평균콜수 </th>
                <th scope="col" >평균콜시간 </th>
                <th rowspan="2" scope="col" class="vertical-align-middle">팀원 </th>
                <th colspan="7" scope="col">시간대별 주간 평균통화량 </th>
            </tr>
            <tr>
                <th scope="col">집중시간</th>
                <th colspan ='2' scope="col">전전주 </th>
                <th colspan ='2' scope="col">전주 </th>
                <th scope="col">10시 ~ 11시</th>
                <th scope="col">11시 ~ 12시</th>
                <th scope="col">1시 ~ 2시</th>
                <th scope="col">2시 ~ 3시</th>
                <th scope="col">3시 ~ 4시</th>
                <th scope="col">4시 ~ 5시</th>
                <th scope="col">5시 ~ 6시</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        </tbody>
    </table>

</div>
<br>

<div class="row justify-content-center mx-3 text-center">

    <table class="table table-hover table-bordered scrollable-table tb" id='team-members-table2'>
        <thead class='table-dark tb'>
            <tr>
                <th rowspan="2" scope="col" class="vertical-align-middle">팀원</th>
                <th colspan="4" scope="col">전매체 총 매출 </th>
                <th rowspan="2" scope="col" class="vertical-align-middle">주력매체 </th>
                <th rowspan="2" scope="col" class="vertical-align-middle">DB수집방식 </th>
                <th rowspan="2" scope="col" class="vertical-align-middle">영업방식 </th>
            </tr>
            <tr>
                <th scope="col">전월매출</th>
                <th scope="col">당월누적매출 </th>
                <th scope="col">예상매출 </th>
                <th scope="col">예상 증감</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function() {
        $('#team-select').change(function() {
            var selectedTeam = $(this).val();
            $('.member-select').hide(); // 모든 멤버 선택 드롭다운 숨기기
            if (selectedTeam === "") {
                $('#members-all').show(); // 모든 멤버 표시
            } else {
                $('#members-' + selectedTeam).show(); // 선택된 팀의 멤버만 표시
            }
        });

        $('#select_date_search').click(function() {
            var selectedDate = $('#date-select').val();
            var selectedTeam = $('#team-select').val();
            var selectMember = selectedTeam === "" ? $('#members-all').val() : $('#members-' + selectedTeam).val();

            if (!selectedTeam && !selectMember) {
                alert('팀 또는 멤버를 선택해주세요.');
                return; // 함수 실행 중지
            }


            $(this).prop('disabled', true).text('불러오는 중...').addClass('btn-secondary').removeClass('btn-primary');

            if (!selectedDate) {
                $('#week-ranges').hide();
                if (selectedTeam && selectMember) {
                    $.ajax({
                        url: '{% url "fetch_team_data" %}',  // Django URLconf에 해당 경로 추가 필요
                        data: {'member_code': selectMember},
                        dataType: 'json',
                        success: function(data) {
                            updateTable(data)
                            $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        },
                        error: function() {
                            alert('Error loading data');
                            $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        }
                    });
                } else if (selectedTeam) {
                    $.ajax({
                        url: '{% url "fetch_team_data" %}',  // Django URLconf에 해당 경로 추가 필요
                        data: {'team_code': selectedTeam},
                        dataType: 'json',
                        success: function(data) {
                            updateTable(data)
                            $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        },
                        error: function() {
                            alert('Error loading data');
                            $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        }
                    });
                } else if (selectMember) {
                    $.ajax({
                        url: '{% url "fetch_team_data" %}',  // Django URLconf에 해당 경로 추가 필요
                        data: {'member_code': selectMember},
                        dataType: 'json',
                        success: function(data) {
                            updateTable(data)
                             $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        },
                        error: function() {
                            alert('Error loading data');
                             $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        }
                    });
                } else {
                    // 팀이 선택되지 않은 경우
                    // 테이블 비우기
                }
                return;
            } else {
                try {
                    updateWeekRanges(selectedDate);
                } catch (error) {
                    console.error("날짜 처리 중 오류가 발생했습니다: ", error);
                    alert('올바른 날짜를 선택하세요.');
                    $('#week-ranges').hide(); // 오류 발생시 범위 숨기기
                }
                if (selectedTeam && selectMember) {
                    $.ajax({
                        url: '{% url "fetch_team_data" %}',  // Django URLconf에 해당 경로 추가 필요
                        data: {'member_code': selectMember, 'ref_date' : selectedDate},
                        dataType: 'json',
                        success: function(data) {
                            updateTable(data)
                             $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        },
                        error: function() {
                            alert('Error loading data');
                             $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        }
                    });
                } else if (selectedTeam) {
                    $.ajax({
                        url: '{% url "fetch_team_data" %}',  // Django URLconf에 해당 경로 추가 필요
                        data: {'team_code': selectedTeam, 'ref_date' : selectedDate},
                        dataType: 'json',
                        success: function(data) {
                            updateTable(data)
                             $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        },
                        error: function() {
                            alert('Error loading data');
                             $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        }
                    });
                } else if (selectMember) {
                    $.ajax({
                        url: '{% url "fetch_team_data" %}',  // Django URLconf에 해당 경로 추가 필요
                        data: {'member_code': selectMember, 'ref_date' : selectedDate},
                        dataType: 'json',
                        success: function(data) {
                            updateTable(data)
                             $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        },
                        error: function() {
                            alert('Error loading data');
                             $('#select_date_search').prop('disabled', false).text('기준선택').addClass('btn-primary').removeClass('btn-secondary');
                        }
                    });
                } else {
                    // 팀이 선택되지 않은 경우
                    // 테이블 비우기
                }
                return;
            }
         
    
            // 이제 selectedDate 변수에 선택된 날짜 값이 저장되어 있습니다.
            console.log("선택된 날짜:", selectedDate);
        });
    
    });

    function updateTable(data) {
        var $table = $('#team-members-table tbody');
        var $table2 = $('#team-members-table2 tbody');
        var $table3 = $('#team-members-table3 tbody');
    
        
        $table.empty(); // 테이블 내용 비우기
        $table2.empty(); // 테이블 내용 비우기
        $table3.empty(); // 테이블 내용 비우기
    
        for(member in data.members) {
            var row = '<tr>'
            var row2 = '<tr>'
            var row3 = '<tr>'

            row += '<th scope="row">' + member + '</th>'
            row2 += '<th scope="row">' + member + '</th>'
            row3 += '<th scope="row">' + member + '</th>'
    
            for (com in data.company){
                row += '<td>' + data.members[member][com].week_before_last_total + '</td>';
                row += '<td>' + data.members[member][com].last_week_total + '</td>';
                row += '<td class = "fw-bold">' + data.members[member][com].growth_rate + '% </td>';
            }
    
            row += '<td>' + data.members[member].new + '</td>';
            row += '<td>' + data.members[member].escalation + '</td>';
            row += '<td>' + data.members[member].before_last_live + '</td>';
            row += '<td>' + data.members[member].last_live + '</td>';
            row += '<td>' + data.members[member].increase + '</td>';
            row += '</tr>';
    
            row2 += '<td>' + data.members[member].previous_month_sales + '</td>';
            row2 += '<td>' + data.members[member].current_month_sales + '</td>';
            row2 += '<td>' + data.members[member].estimated_sales + '</td>';
            row2 += '<td>' + data.members[member].estimated_growth + '</td>';
            row2 += '<td>' + '</td>' + '<td>' + '</td>' + '<td>' + '</td>' ;
            row2 += '</tr>';
    
            row3 += '<td>' + data.members[member].focus + '</td>';

            
            if (data.members[member].b_last_call_count === undefined) {
                row3 += '<td>' + '0' + '</td>';
            }else{
                row3 += '<td>' + data.members[member].b_last_call_count + '</td>';

            }

            if (data.members[member].b_last_avg_call_duration === undefined) {
                row3 += '<td>' + '00:00:00' + '</td>';
            }else{
                row3 += '<td>' + data.members[member].b_last_avg_call_duration + '</td>';
            }

            if (data.members[member].last_call_count === undefined) {
                row3 += '<td>' + '0' + '</td>';
            }else{
                row3 += '<td>' + data.members[member].last_call_count + '</td>';

            }

            if (data.members[member].last_avg_call_duration === undefined) {
                row3 += '<td>' + '00:00:00' + '</td>';
            }else{
                row3 += '<td>' + data.members[member].last_avg_call_duration + '</td>';
            }
            
            row3 += '<td>' + member + '</td>';
            row3 += '<td>' + data.members[member]._1011avg_duration + '</td>';
            row3 += '<td>' + data.members[member]._1112avg_duration + '</td>';
            row3 += '<td>' + data.members[member]._1314avg_duration + '</td>';
            row3 += '<td>' + data.members[member]._1415avg_duration + '</td>';
            row3 += '<td>' + data.members[member]._1516avg_duration + '</td>';
            row3 += '<td>' + data.members[member]._1617avg_duration + '</td>';
            row3 += '<td>' + data.members[member]._1718avg_duration + '</td>';

            $table.append(row);
            $table2.append(row2);
            $table3.append(row3);
    
        }
    }

    $('#export_excel').click(function() {
        var selectedDate = $('#date-select').val();
        var team_code = $('#team-select').val();
        $(this).prop('disabled', true).text('다운로드 중...').addClass('btn-secondary').removeClass('btn-success');


        if (team_code === "") {
            var member_code = $('#members-all').val(); // 모든 멤버 표시
        } else {
            var member_code = $('#members-' + team_code).val(); // 선택된 팀의 멤버만 표시
        }

        // 엑셀 다운로드 요청 URL 생성
        var url = '{% url "fetch_team_data" %}';
        if (selectedDate) {
            var params = {
                export_excel: true,
                ref_date : selectedDate,
            };
        } else {
            var params = {
                export_excel: true,
            }; 
        }
        if (team_code && member_code) {
            params.team_code = team_code;
            params.member_code = member_code;
        } else if (team_code) {
            params.team_code = team_code;
        } else {
            params.member_code = member_code;

        }
    
        // 파일 다운로드 요청
        $.ajax({
            url: '{% url "fetch_team_data" %}',  // Django URLconf에 해당 경로 추가 필요
            data: params,
            dataType: 'json',
            success: function(response) {
                window.location.href = response.url;
                $('#export_excel').prop('disabled', false).text('엑셀파일').addClass('btn-success').removeClass('btn-secondary');

            },
            error: function() {
                alert('Error downloading Excel file.');
                $('#export_excel').prop('disabled', false).text('엑셀파일').addClass('btn-success').removeClass('btn-secondary');
            }
        });
    });
    function getWeekDates(baseDate) {
        let date = new Date(baseDate);
        let day = date.getDay();
        let diff = date.getDate() - day + (day === 0 ? -6 : 1); // adjust when day is sunday
        let start = new Date(date.setDate(diff));
        let end = new Date(start);
        end.setDate(start.getDate() + 6);
        return { start: start.toISOString().substring(0, 10), end: end.toISOString().substring(0, 10) };
    };

    function updateWeekRanges(baseDate) {
        var date = new Date(baseDate + 'T00:00:00'); // 시간 구성 요소 추가하여 일관된 생성 보장
        if (isNaN(date.getTime())) { // 유효하지 않은 날짜인 경우 예외 처리
            throw new Error("Invalid date");
        }

        // 날짜 계산
        var prevWeekStart = new Date(date.getTime());
        prevWeekStart.setDate(date.getDate() - date.getDay() - 5 - 7);
        var prevWeekEnd = new Date(prevWeekStart.getTime());
        prevWeekEnd.setDate(prevWeekStart.getDate() + 6);

        var lastWeekStart = new Date(prevWeekStart.getTime());
        lastWeekStart.setDate(prevWeekStart.getDate() + 7);
        var lastWeekEnd = new Date(lastWeekStart.getTime());
        lastWeekEnd.setDate(lastWeekStart.getDate() + 6);

        // 날짜 포맷 함수
        var formatDate = function(date) {
            return date.toISOString().substring(0, 10);
        };

        // DOM 업데이트
        $('#previous-week').text(`전전주    ${formatDate(prevWeekStart)} ~ ${formatDate(prevWeekEnd)}`);
        $('#last-week').text(`전주    ${formatDate(lastWeekStart)} ~ ${formatDate(lastWeekEnd)}`);
        $('#week-ranges').show();
    };

    
    </script>
{% endblock %}