{% extends "base.html" %}

{% block content %}
<style>
    /* Inline style if you prefer */
    .sticky-header th {
        position: sticky;
        top: 0;
        background-color: #000;
        color: #fff;
    }

    .scrollable-table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 1700px;
        height: 400px;
    }

    .vertical-align-middle {
        vertical-align: middle;
    }

    .tb {
        position: sticky;
        top: 0;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<h1 class="text-center fw-bold my-5">주간 업무 미팅 자료</h1>


<div class="text-center">
    <div class='my-3 mx-4 row justify-content-center'>
        <div class='col-6 col-md-5 col-lg-4 col-xl-3'>
            <select id="team-select" class='form-select form-select-lg mb-2'>
                <option value="">팀선택</option>
                {% for team in teams %}
                <option value="{{ team.dept_code }}">{{ team.dept_name }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class='col-6 col-md-5 col-lg-4 col-xl-3'>
            <!-- 전체 멤버를 위한 드롭다운 -->
            <select id="members-all" class="member-select form-select form-select-lg all">
                <option value="">멤버선택</option>
                {% for member in members %}
                <option value="{{ member.username }}">{{ member.username }}</option>
                {% endfor %}
            </select>
    
            <!-- 각 팀별 멤버를 위한 드롭다운 -->
            {% for team in teams %}
            <select id="members-{{ team.dept_code }}" class="member-select form-select form-select-lg all" style="display:none;">
                <option value="">멤버선택</option>
                {% for member in members %}
                {% if member.dept_code == team.dept_code %}
                <option value="{{ member.username }}">{{ member.username }}</option>
                {% endif %}
                {% endfor %}
            </select>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-success fw-bold mt-4 ms-1" id='export_excel'>엑셀파일 다운로드</button>
    </div>
</div>

<br>
<div class="row justify-content-center mx-3 my-4">

    <table class="table table-hover table-bordered scrollable-table text-center tb " id='team-members-table'>

        <thead class='table-dark tb'>
            <tr>
                <th colspan="1" scope="col">매체</th>
                <th colspan="3" scope="col">네이버 </th>
                <th colspan="3" scope="col">네이버지에프에이 </th>
                <th colspan="3" scope="col">지마켓 </th>
                <th colspan="3" scope="col">11번가 </th>
                <th colspan="3" scope="col">위메프 </th>
                <th colspan="2" scope="col">맵핑수(누적) </th>
                <th colspan="3" scope="col">전매체 Live 계정수 </th>

            </tr>
            <tr>
                <th scope="col">팀원</th>
                <th scope="col">전전주매출</th>
                <th scope="col">전주매출 </th>
                <th scope="col">성장률 </th>
                <th scope="col">전전주매출</th>
                <th scope="col">전주매출 </th>
                <th scope="col">성장률 </th>
                <th scope="col">전전주매출</th>
                <th scope="col">전주매출 </th>
                <th scope="col">성장률 </th>
                <th scope="col">전전주매출</th>
                <th scope="col">전주매출 </th>
                <th scope="col">성장률 </th>
                <th scope="col">전전주매출</th>
                <th scope="col">전주매출 </th>
                <th scope="col">성장률 </th>

                <th scope="col">신규 </th>
                <th scope="col">이관 </th>
                <th scope="col">전전주 </th>
                <th scope="col">전주 </th>
                <th scope="col">증감 </th>

            </tr>
        </thead>
        <tbody class="table-group-divider">

            {% for name, company in data.items %}
            <tr>
                {% if name in selectedName %}
                <th scope="row">{{ name }}</th>
                {% for com, values in company.items %}
                {% for k, v in values.items %}
                {% if k == 'growth_rate' %}
                    <td>{{ v }}%</td>
                {% else %}
                    <td>{{ v }}%</td>

                {% endif %} 
                {% endfor %}

                {% endfor %}
                <td>{{ company.new }}</td>
                <td>{{ company.escalation }}</td>
                <td>{{ company.before_last_live }}</td>
                <td>{{ company.last_live }}</td>
                <td>{{ company.increase }}</td>
                {% endif %}


            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<br>

</div>


<div class="row justify-content-center mx-3 text-center">

    <table class="table table-hover table-bordered scrollable-table tb" id='team-members-table2'>
        <thead class='table-dark tb'>
            <tr>
                <th rowspan="2" scope="col" class="vertical-align-middle">팀원</th>
                <th colspan="4" scope="col">전매체 총 매출 </th>
                <th rowspan="2" scope="col" class="vertical-align-middle">주력매체 </th>
                <th rowspan="2" scope="col" class="vertical-align-middle">DB수집방식 </th>
                <th rowspan="2" scope="col" class="vertical-align-middle">영업방식 </th>
            </tr>
            <tr>
                <th scope="col">전월매출</th>
                <th scope="col">당월누적매출 </th>
                <th scope="col">예상매출 </th>
                <th scope="col">예상 증감</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for name, company in data.items %}
            <tr>
                {% if name in selectedName %}
                <th scope="row">{{ name }}</th>
                <td>{{ company.previous_month_sales }}</td>
                <td>{{ company.current_month_sales }}</td>
                <td>{{ company.estimated_sales }}</td>
                <td>{{ company.estimated_growth }}</td>
                <td></td>
                <td></td>
                <td></td>
                {% endif %}


            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function() {
        $('#team-select').change(function() {
            var selectedTeam = $(this).val();
            $('.member-select').hide(); // 모든 멤버 선택 드롭다운 숨기기
            if (selectedTeam === "") {
                $('#members-all').show(); // 모든 멤버 표시
            } else {
                $('#members-' + selectedTeam).show(); // 선택된 팀의 멤버만 표시
            }
            if (selectedTeam) {
                $.ajax({
                    url: '{% url "fetch_team_data" %}',  // Django URLconf에 해당 경로 추가 필요
                    data: {'team_code': selectedTeam},
                    dataType: 'json',
                    success: function(data) {
                        updateTable(data)
                    },
                    error: function() {
                        alert('Error loading data');
                    }
                });
            } else {
                // 팀이 선택되지 않은 경우
                // 테이블 비우기
            }
        });
    
        $('.all').change(function() {
            var selectMember = $(this).val();
            if (selectMember) {
                $.ajax({
                    url: '{% url "fetch_team_data" %}',  // Django URLconf에 해당 경로 추가 필요
                    data: {'member_code': selectMember},
                    dataType: 'json',
                    success: function(data) {
                        updateTable(data)
                    },
                    error: function() {
                        alert('Error loading data');
                    }
                });
            } else {
                // 팀이 선택되지 않은 경우
                // 테이블 비우기
            }
        });
    });
    
    function updateTable(data) {
        var $table = $('#team-members-table tbody');
        var $table2 = $('#team-members-table2 tbody');
    
        
        $table.empty(); // 테이블 내용 비우기
        $table2.empty(); // 테이블 내용 비우기
    
        for(member in data.members) {
            var row = '<tr>'
            var row2 = '<tr>'
            row += '<th scope="row">' + member + '</th>'
            row2 += '<th scope="row">' + member + '</th>'
    
            for (com in data.company){
                row += '<td>' + data.members[member][com].week_before_last_total + '</td>';
                row += '<td>' + data.members[member][com].last_week_total + '</td>';
                row += '<td>' + data.members[member][com].growth_rate + '</td>';
            }
    
            row += '<td>' + data.members[member].new + '</td>';
            row += '<td>' + data.members[member].escalation + '</td>';
            row += '<td>' + data.members[member].before_last_live + '</td>';
            row += '<td>' + data.members[member].last_live + '</td>';
            row += '<td>' + data.members[member].increase + '</td>';
            row += '</tr>';
    
            row2 += '<td>' + data.members[member].previous_month_sales + '</td>';
            row2 += '<td>' + data.members[member].current_month_sales + '</td>';
            row2 += '<td>' + data.members[member].estimated_sales + '</td>';
            row2 += '<td>' + data.members[member].estimated_growth + '</td>';
            row2 += '<td>' + '</td>' + '<td>' + '</td>' + '<td>' + '</td>' ;
    
            row2 += '</tr>';
    
            $table.append(row);
            $table2.append(row2);
    
        }
    }
    $('#export_excel').click(function() {

        var team_code = $('#team-select').val();

        if (team_code === "") {
            var member_code = $('#members-all').val(); // 모든 멤버 표시
        } else {
            var member_code = $('#members-' + team_code).val(); // 선택된 팀의 멤버만 표시
        }


        // 엑셀 다운로드 요청 URL 생성
        var url = '{% url "sales_report" %}';
        var params = {
            export_excel: true,
        };
        if (team_code && member_code) {
            params.team_code = team_code;
            params.member_code = member_code;
        } else if (team_code) {
            params.team_code = team_code;
        } else {
            params.member_code = member_code;

        }
    
        // 파일 다운로드 요청
        $.get('{% url "sales_report" %}', params, function(response) {
            // 받은 URL로 리다이렉트
            window.location.href = response.url;
        }).fail(function() {
            alert('Error downloading Excel file.');
        });
    });
    
    </script>
{% endblock %}